@model TicketManagement.Web.Models.UserProfile.BalanceViewModel

<form action="@Url.Action("IncreaseBalance", new { controller = "UserProfile"})" data-ajax="true" data-ajax-method="POST" method="post" data-form="postForm">
    <div>
        <h4>@TicketManagementResource.PutMoney</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger", data_validation_summary = "validationSummary" })
        <div class="form-group">
            @Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" class="btn btn-primary">@TicketManagementResource.TopUp</button>
            </div>
        </div>
    </div>
        
    @LoadingHelper.Loading()
</form>

<div>
    @Ajax.ActionLink(TicketManagementResource.BackToProfile, "Index", 
        new { controller = "UserProfile" }, 
        new AjaxOptions { UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get }, 
        new { @class = "nav-link" })
</div>

<script>
    $(document).ready(function() {
        postRequest();
    });
</script>