@using Resources
@model TicketManagement.Web.Models.UserProfile.PurchaseHistoryViewModel

<h3>@TicketManagementResource.PurchaseHistory</h3>

@if (Model.Orders.Count != 0)
{
    <div class="list-group">
        @foreach (var order in Model.Orders)
        {
            <a href="#" class="list-group-item list-group-item-action">
                <label class="col-md-2">@TicketManagementResource.PurchaseDate:</label>
                <label class="col-md-8">@order.DatePurchase</label>
                <label class="col-md-2">@TicketManagementResource.PurchaseName:</label>
                <label class="col-md-8">@order.EventName</label>
                <label class="col-md-2">@TicketManagementResource.Description:</label>
                <label class="col-md-8">@order.EventDescription</label>
                <label class="col-md-2">@TicketManagementResource.Cost:</label>
                <label class="col-md-8">@order.TicketCost</label>
            </a>
        }
    </div>
}
else
{
    <h2>@TicketManagementResource.EmptyPurchaseHistory</h2>
}


<div>
    @Ajax.ActionLink(TicketManagementResource.BackToProfile, "Index", "UserProfile", new AjaxOptions { UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get }, new { @class = "nav-link" })
</div>
