@using TicketManagement.Web.Resources
@model TicketManagement.Web.Models.Account.LoginViewModel

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="@Url.Action("Login", "Account")" data-ajax="true" data-ajax-method="POST" method="post" data-form="postForm">
                <h2>@TicketManagementResource.LoginTitle</h2>

                <div>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger", data_validation_summary = "validationSummary" })
                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = TicketManagementResource.UserName })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = TicketManagementResource.Password })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-10">
                            <button type="submit" class="btn btn-primary">@TicketManagementResource.Login</button>
                        </div>
                    </div>
                </div>

                @LoadingHelper.Loading()
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        postRequest();
    });
</script>