@using Resources
@model TicketManagement.Web.Models.Account.RegisterViewModel
@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="@Url.Action("Register", new { controller = "Account"})" data-ajax="true" data-ajax-method="POST" method="post" data-form="postForm">
                <h2>@TicketManagementResource.Registration</h2>
                <div class="form-horizontal">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger", data_validation_summary = "validationSummary" })

                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = TicketManagementResource.Email })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = TicketManagementResource.Password })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-10">

                            @Html.PasswordFor(model => model.PasswordConfirm, new { @class = "form-control", placeholder = TicketManagementResource.PasswordConfirm })
                            @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = TicketManagementResource.UserName })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = TicketManagementResource.FirstName })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", placeholder = TicketManagementResource.Surname })
                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.TextBoxFor(model => model.TimeZone, new { @class = "form-control", placeholder = TicketManagementResource.TimeZone })
                            @Html.ValidationMessageFor(model => model.TimeZone, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-10">
                            <button type="submit" class="btn btn-primary">@TicketManagementResource.Registration</button>
                        </div>
                    </div>
                </div>
                
                @LoadingHelper.Loading()
            </form>

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        postRequest();
    });
</script>