@model TicketManagement.Web.Models.Cart.CartViewModel

<h3>@TicketManagementResource.Basket</h3>
@if (Model.Orders.Count != 0)
{
<div class="list-group">
    @Html.ValidationSummary(false, "", new { @class = "text-danger", data_validation_summary = "validationSummary" })
    @foreach (var order in Model.Orders)
    {
        <a aria-label="Close" class="close" data-ajax="true" data-ajax-method="POST" data-ajax-success="OnSuccessDelete" data-ajax-failure="OnFailureDelete" href="@Url.Action("DeleteFromCart", new {controller = "Cart", orderId = order.OrderId})" type="button">
            <span aria-hidden="true">&times;</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            @Html.HiddenFor(model => order.OrderId)
            <label class="col-md-2">@TicketManagementResource.PurchaseName:</label>
            <label class="col-md-8">@Html.DisplayFor(m => order.EventName)</label>
            <label class="col-md-2">@TicketManagementResource.Description:</label>
            <label class="col-md-8">@Html.DisplayFor(m => order.EventDescription)</label>
            <label class="col-md-2">@TicketManagementResource.Cost:</label>
            <label class="col-md-8">@Html.DisplayFor(m => order.TicketCost)</label>
        </a>

        @Ajax.ActionLink(TicketManagementResource.Buy, "Buy",
            new { controller = "Cart", orderId = order.OrderId },
            new AjaxOptions { HttpMethod = WebRequestMethods.Http.Post, OnSuccess = "OnSuccessBuy", OnFailure = "OnFailureBuy" },
            new { @class = "nav-link" })
    }
</div>
}
else
{
    <h2>@TicketManagementResource.EmptyPurchaseHistory</h2>
}


<script>
    function OnFailureDelete(error) {
        failureRequestHandlerFunc(error);
    }
    function OnFailureBuy(error){
        failureRequestHandlerFunc(error);
    }
    function OnSuccessDelete(data) {
        updateContent(data.returnContentUrl);
    }
    function OnSuccessBuy(data) {
        updateContent(data.returnContentUrl);
    }
</script>