@model TicketManagement.Web.Areas.EventManager.Data.EventViewModel

<form action="@Url.Action("Update", "Event", new { area = "EventManager"})" data-ajax="true" data-ajax-method="POST" method="post" enctype="multipart/form-data" data-form="postForm">
    <div>
        <h4>@TicketManagementResource.EventInfo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger", data_validation_summary = "validationSummary" })
        @Html.HiddenFor(model => model.IndexEventViewModel.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.IndexEventViewModel.Name, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IndexEventViewModel.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IndexEventViewModel.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IndexEventViewModel.Description, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IndexEventViewModel.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IndexEventViewModel.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IndexEventViewModel.BeginDate, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IndexEventViewModel.BeginDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IndexEventViewModel.BeginDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IndexEventViewModel.BeginTime, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IndexEventViewModel.BeginTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IndexEventViewModel.BeginTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IndexEventViewModel.EndDate, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IndexEventViewModel.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IndexEventViewModel.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IndexEventViewModel.EndTime, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IndexEventViewModel.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IndexEventViewModel.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LayoutId, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IndexEventViewModel.LayoutId, Model.LayoutList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LayoutId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="btn btn-primary">
                Browse…
                @Html.TextBoxFor(m => m.IndexEventViewModel.Image, new { type = "file", placeholder = Html.DisplayNameFor(m => m.IndexEventViewModel.Image), @class = "form-control", id = "FileUpload1" })
            </span>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" class="btn btn-primary">@TicketManagementResource.Save</button>
            </div>
        </div>
    </div>

    @LoadingHelper.Loading()
</form>

<div>
    @Ajax.ActionLink(TicketManagementResource.Back, "EventDetail",
        new { area = "EventManager", controller = "Event", eventId = Model.IndexEventViewModel.Id },
        new AjaxOptions { UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get },
        new { @class = "nav-link" })
</div>

<script>
    $(document).ready(function () {
        postRequest();
    });
</script>