@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/autoNumeric")
    @RenderSection("styles", required: false)
</head>
<body>
    @{ Html.RenderPartial("_MenuBar"); }

    <div class="container body-content">
        <div id="content">
            @RenderBody()
        </div>
    </div>

    @{ Html.RenderPartial("_Footer"); }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/customScripts")
<script>
        UrlConstants.MenuUrl = '@Url.Action("ReloadMenu", "StartApp")';
        UrlConstants.StartAppUrl = '@Url.Action("Index", "StartApp")';
        loadcldr();
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>