@using Resources
@model IEnumerable<TicketManagement.Web.Models.Event.EventViewModel>
@{
    Layout = null;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@TicketManagementResource.Events</h2>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeginDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeginTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CountFreeSeats)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LayoutName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BeginDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BeginTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountFreeSeats)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LayoutName)
                        </td>
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <td>
                                @Ajax.ActionLink(TicketManagementResource.Details, "EventDetail", "Event", new { eventId = item.Id }, new AjaxOptions { UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get }, new { @class = "nav-link" })
                            </td>
                        }
                    </tr>
                }

            </table>
        </div>
    </div>
</div>