@model IEnumerable<TicketManagement.Web.Models.Event.EventViewModel>
@{
    Layout = null;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@TicketManagementResource.Events</h2>

            @if (Model.Count() != 0)
            {
                <table class="table table-hover">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string imgPath;
                            if (!string.IsNullOrEmpty(item.ImagePath))
                            {
                                imgPath = @Url.Content("~/Content/EventImages/" + @Path.GetFileName(item.ImagePath));
                            }
                            else
                            {
                                imgPath = @Url.Content($"~/Content/EventImages/no-image-available.jpeg");
                            }

                            <tr class="table-primary">
                                <th scope="row">
                                    <img class="event-image" style="width: 380px; height: 300px;" src=@imgPath alt="" />
                                </th>

                                <td class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-3">@Html.DisplayNameFor(model => model.Name):</div>
                                        <div class="col-md-9">@Html.DisplayFor(modelItem => item.Name)</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">@Html.DisplayNameFor(model => model.BeginDate):</div>
                                        <div class="col-md-7">@Html.DisplayFor(modelItem => item.BeginDate) @Html.DisplayFor(modelItem => item.BeginTime)</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">@Html.DisplayNameFor(model => model.EndDate):</div>
                                        <div class="col-md-7">@Html.DisplayFor(modelItem => item.EndDate) @Html.DisplayFor(modelItem => item.EndTime)</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">@Html.DisplayNameFor(model => model.Description):</div>
                                        <div class="col-md-7">@Html.DisplayFor(modelItem => item.Description)</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">@Html.DisplayNameFor(model => model.LayoutName):</div>
                                        <div class="col-md-7">@Html.DisplayFor(modelItem => item.LayoutName)</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">@Html.DisplayNameFor(model => model.CountFreeSeats):</div>
                                        <div class="col-md-7">@Html.DisplayFor(modelItem => item.CountFreeSeats)</div>
                                    </div>
                                </td>

                                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    <td class="col-md-2">
                                        <div class="btn-group-vertical">
                                            @Ajax.ActionLink(TicketManagementResource.Details, "EventDetail",
                                                new { controller = "Event", eventId = item.Id },
                                                new AjaxOptions { UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get },
                                                new { @class = "btn btn-primary", type = "button" })

                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h2>@TicketManagementResource.EmptyEventList</h2>
            }

        </div>
    </div>
</div>