@using TicketManagement.Web.Models.Event
@using System.Web.Mvc.Html
@using System.Web.Mvc.Ajax
@using Resources
@using TicketManagement.Web.Constants
@using TicketManagement.Web.EventSeatService

@helper EventMap(EventDetailViewModel eventDetailVm)
{
    var wvp = PageContext.Page as System.Web.Mvc.WebViewPage ?? throw new Exception("Unknown error");
    var localBeginDate = eventDetailVm.BeginDate.ToLocalTime();
    var localEndDate = eventDetailVm.EndDate.ToLocalTime();
    var beginDate = $"{localBeginDate.ToLongDateString()} {localBeginDate.ToLongTimeString()}";
    var endDate = $"{localEndDate.ToLongDateString()} {localEndDate.ToLongTimeString()}";

    var area = "";
    if (User.Identity.IsAuthenticated && (User.IsInRole("event manager") || User.IsInRole("admin")))
    {
        area = "EventManager";
    }

    <div class="container">
        <div class="row">
            <div class="card mb-3" style="width: 140px;">
                <div class="card-body" style="padding: 0;">
                    <span class="d-inline-block" tabindex="0" data-toggle="popover" data-placement="bottom" title="" style="width: 100%">
                        <button type="button"
                                style="pointer-events: none; width: 100%;"
                                id="Event_@eventDetailVm.EventId" disabled>
                            <p class="card-text">
                                @wvp.Html.LabelFor(m => eventDetailVm.Name):
                                @wvp.Html.DisplayFor(m => eventDetailVm.Name)
                            </p>
                            <div class="popover-content" style="display: none;">
                                @TicketManagementResource.Description:
                                @wvp.Html.DisplayFor(m => eventDetailVm.Description)<br />
                                @TicketManagementResource.BeginDate:
                                @wvp.Html.DisplayFor(m => @beginDate)<br />
                                @TicketManagementResource.EndDate:
                                @wvp.Html.DisplayFor(m => endDate)<br />
                                @TicketManagementResource.Layout:
                                @wvp.Html.DisplayFor(m => eventDetailVm.LayoutName)<br />
                            </div>
                        </button>
                    </span>
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("event manager") || User.IsInRole("admin")))
                    {
                        @wvp.Ajax.ActionLink(TicketManagementResource.Edit, "Update",
                            new {area = "EventManager", controller = "Event", id = eventDetailVm.EventId},
                            new AjaxOptions {UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get},
                            new {@class = "nav-link"})
                    }
                </div>

            </div>
        </div>

        <h2>@TicketManagementResource.Areas</h2>

        <div class="row">
            @foreach (var eventArea in eventDetailVm.EventAreas)
            {
                <div class="card border-primary mb-3 mr-3" style="max-width: 20rem; width: 140px;">
                    <div class="card-body" style="padding: 0;">
                        <span class="d-inline-block" tabindex="0" data-toggle="popover" data-placement="bottom" title="" style="width: 100%">
                            <button type="button"
                                    id="EventArea_@eventArea.Id"
                                    style="pointer-events: none; width: 100%;"
                                    disabled>

                                <p class="card-text">
                                    @TicketManagementResource.Description:
                                    @wvp.Html.DisplayFor(m => eventArea.Description)
                                </p>
                                <div class="popover-content" style="display: none;">
                                    @TicketManagementResource.CoordinateX:
                                    @wvp.Html.DisplayFor(m => eventArea.CoordinateX)<br />
                                    @TicketManagementResource.CoordinateY:
                                    @wvp.Html.DisplayFor(m => eventArea.CoordinateY)<br />
                                    @TicketManagementResource.Price:
                                    @wvp.Html.DisplayFor(m => eventArea.Price)<br />
                                </div>
                            </button>
                        </span>
                        @wvp.Ajax.ActionLink(TicketManagementResource.Details, "EventAreaDetail",
                            new { area, controller = "Event", eventAreaId = eventArea.Id },
                            new AjaxOptions { UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get },
                            new { @class = "nav-link" })
                    </div>
                </div>

            }
        </div>
        @wvp.Ajax.ActionLink(TicketManagementResource.Back, "Index",
            new { controller = "Event", area },
            new AjaxOptions { UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get },
            new { @class = "nav-link" })
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-toggle=popover]").popover({
                html: true,
                container: 'body',
                trigger: 'hover',
                delay: {
                    show: 50,
                    hide: 200
                },
                content: function () {
                    return $(this).find('.popover-content').html();
                }
            });
        });
    </script>
}

@helper EventAreaMap(EventAreaDetailViewModel eventAreaDetailVm)
{
var wvp = PageContext.Page as System.Web.Mvc.WebViewPage ?? throw new Exception("Unknown error");
var area = "";
if (User.Identity.IsAuthenticated && (User.IsInRole("event manager") || User.IsInRole("admin")))
{
    area = "EventManager";
}

<div class="container">
    <div class="row">
        <div class="card mb-3" style="width: 140px;">
            <div class="card-body" style="padding: 0;">
                <span class="d-inline-block" tabindex="0" data-toggle="popover" data-placement="bottom" title="" style="width: 100%">
                    <button type="button"
                            style="pointer-events: none; width: 100%;"
                            id="Event_@eventAreaDetailVm.EventId" disabled>
                        <p class="card-text">
                            @wvp.Html.LabelFor(m => eventAreaDetailVm.EventArea.Description)
                            @wvp.Html.DisplayFor(m => eventAreaDetailVm.EventArea.Description)
                        </p>
                        <div class="popover-content" style="display: none;">
                            @TicketManagementResource.Price:
                            <p id="areaPrice">@wvp.Html.DisplayFor(m => @eventAreaDetailVm.EventArea.Price)</p><br />
                            @TicketManagementResource.CoordinateX: @wvp.Html.DisplayFor(m => @eventAreaDetailVm.EventArea.CoordinateX)<br />
                            @TicketManagementResource.CoordinateY: @wvp.Html.DisplayFor(m => @eventAreaDetailVm.EventArea.CoordinateY)<br />
                        </div>
                    </button>
                </span>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("event manager") || User.IsInRole("admin")))
                {
                    @wvp.Ajax.ActionLink(TicketManagementResource.SetAreasCosts, "ChangeCost",
                        new { area = "EventManager", controller = "Event", eventAreaId = eventAreaDetailVm.EventArea.Id },
                        new AjaxOptions { HttpMethod = WebRequestMethods.Http.Get },
                        new { @class = "card-link area-cost" })
                    <div id="changeAreaCostModDialog" class="modal fade">
                        <div id="dialogContent" class="modal-dialog" role="document"></div>
                    </div>
                }
            </div>
        </div>
        <div class="card offset-md-4" style="width: 250px;background-color: #e1bf7f; border: 0;">
            <div class="card-body" style="padding: 0;">
                <div class="row">
                    <div class="seat-canvas d-inline-block" style="background-color: @SeatColor.GetSeatColor(EventSeatState.Free); width: 50px; height: 50px;" tabindex="0">
                    </div> 
                    <p> - @TicketManagementResource.FreeSeatStatusDisplay</p>
                </div>
                <div class="row">
                    <div class="seat-canvas d-inline-block" style="background-color: @SeatColor.GetSeatColor(EventSeatState.Sold); width: 50px; height: 50px;" tabindex="0">
                    </div> 
                    <p> - @TicketManagementResource.SoldSeatStatusDisplay</p>
                </div>
                <div class="row">
                    <div class="seat-canvas d-inline-block" style="background-color: @SeatColor.GetSeatColor(EventSeatState.InBasket); width: 50px; height: 50px;" tabindex="0">
                    </div> 
                    <p> - @TicketManagementResource.HoldSeatStatusDisplay</p>
                </div>
            </div>
        </div>
    </div>

    <h2>@TicketManagementResource.Seats</h2>
    @wvp.Html.ValidationSummary(false, "", new { @class = "text-danger", data_validation_summary = "validationSummary" })
    <div class="row">
        <table class="table table-hover">
            <tbody>
                @for (var i = 1; i <= 100; i++)
                {
                    <tr row="@i">
                        @for (var j = 1; j <= 22; j++)
                        {
                            var i1 = i;
                            var j1 = j;
                            var eventSeat = eventAreaDetailVm.EventSeats.FirstOrDefault(x => x.Row == i1 && x.Number == j1);
                            if (eventSeat != default)
                            {
                                <td number="@j" class="seat-canvas d-inline-block" style="background-color: @SeatColor.GetSeatColor(eventSeat.State); width: 50px; height: 50px;" tabindex="0" data-toggle="popover" data-placement="bottom" title="">

                                    <div class="popover-content" style="display: none;">
                                        X: @eventSeat.Number <br />
                                        Y: @eventSeat.Row <br />

                                    </div>
                                    @if (eventSeat.State == EventSeatState.Free)
                                    {
                                        <a class="nav-link" style="padding: 0; display: flex; align-items: center; justify-content: center" data-ajax="true" data-ajax-method="POST"
                                           data-ajax-success="OnSuccessAddToCart"
                                           data-ajax-confirm="@TicketManagementResource.AddInBasket"
                                           href="@wvp.Url.Action("AddToCart", new {area = "", controller = "Event", seatId = eventSeat.Id})">
                                            <svg style="line-height: 100%;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                            </svg>
                                        </a>
                                    }

                                </td>
                            }
                            else
                            {
                                <td number="@j" class="seat-canvas d-inline-block" style="opacity: 1; width: 50px; height: 50px;">
                                </td>
                            }

                        }
                    </tr>
                }

            </tbody>
        </table>
        @wvp.Ajax.ActionLink(TicketManagementResource.Back, "EventDetail",
            new { area, controller = "Event", eventId = eventAreaDetailVm.EventId },
            new AjaxOptions { UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get },
            new { @class = "nav-link" })
    </div>
</div>

    <script type="text/javascript">
        showPopupInit('#changeAreaCostModDialog', '#dialogContent', '.area-cost');
        function OnFailureAddToCart(error){
            failureRequestHandlerFunc(error);
        }
        function OnSuccessAddToCart(data) {
            updateContent(data.returnContentUrl);
        }
        $(document).ready(function () {
            $("[data-toggle=popover]").popover({
                html: true,
                container: 'body',
                trigger: 'hover',
                delay: {
                    show: 50,
                    hide: 200
                },
                content: function () {
                    return $(this).find('.popover-content').html();
                }
            });
        });
    </script>
}
