@using TicketManagement.Web.Models.Event
@using System.Web.Mvc
@using System.Web.Mvc.Routing
@using System.Web.Mvc.Html
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Razor
@using System.Web.Optimization
@using Resources
@using TicketManagement.DAL.Constants
@using TicketManagement.Web
@using TicketManagement.Web.Constants

@helper EventMap(EventDetailViewModel eventDetailVm)
{
    var wvp = PageContext.Page as System.Web.Mvc.WebViewPage;
    DateTime localBeginDate = eventDetailVm.BeginDate.ToLocalTime();
    DateTime localEndDate = eventDetailVm.EndDate.ToLocalTime();
    string beginDate = $"{localBeginDate.ToLongDateString()} {localBeginDate.ToLongTimeString()}";
    string endDate = $"{localEndDate.ToLongDateString()} {localEndDate.ToLongTimeString()}";

<div class="container">
    <div class="row">
        <div class="card mb-3">
            <h3 class="card-header">Event Detail</h3>
            <div class="card-body">
                <dl class="card-text">
                    <dt>Event:</dt>
                    <dd>@wvp.Html.Label(eventDetailVm.Name, eventDetailVm.Name).</dd>

                    <dt>Start Date:</dt>
                    <dd>@beginDate</dd>

                    <dt>End Date:</dt>
                    <dd>@endDate</dd>

                    <dt>Description:</dt>
                    <dd>@wvp.Html.Label(eventDetailVm.Description).</dd>

                    <dt>Layout:</dt>
                    <dd>@wvp.Html.Label(eventDetailVm.LayoutName).</dd>
                </dl>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("event manager") || User.IsInRole("admin")))
                {
                    @wvp.Ajax.ActionLink(TicketManagementResource.Edit, "Update", "Event", new {area = "EventManager", controller = "Event", id = eventDetailVm.EventId}, new AjaxOptions {UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get}, new {@class = "nav-link"})
                }
            </div>
        </div>
    </div>

    <h2>@TicketManagementResource.Areas</h2>

    <div class="row">
        @foreach (var eventArea in eventDetailVm.EventAreas)
        {
            <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                <div class="card-header">Description: @eventArea.Description</div>
                <div class="card-body">
                    <h4 class="card-title">Details</h4>
                    <p class="card-text">
                        X: @eventArea.CoordinateX <br />
                        Y: @eventArea.CoordinateY <br />
                        Price: @eventArea.Price <br />
                        @wvp.Ajax.ActionLink(TicketManagementResource.Details, "EventAreaDetail", "Event", new { eventAreaId = eventArea.Id }, new AjaxOptions { UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get }, new { @class = "nav-link" })
                    </p>
                </div>
            </div>

        }
    </div>
    @wvp.Ajax.ActionLink(TicketManagementResource.Back, "Index", "Event", new { area = "EventManager" }, new AjaxOptions { UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get }, new { @class = "nav-link" })
</div>
}

@helper EventAreaMap(EventAreaDetailViewModel eventAreaDetailVm)
{
    var wvp = PageContext.Page as System.Web.Mvc.WebViewPage;

    <div class="container">
        <div class="row">
            <div class="card mb-3">
                <h3 class="card-header">Event Detail</h3>
                <div class="card-body">
                <dl class="card-text">
                            <dt>Event Area description:</dt>
                            <dd>@wvp.Html.Label(eventAreaDetailVm.EventArea.Description, eventAreaDetailVm.EventArea.Description). </dd>
 
                            <dt>Price:</dt>
                            <dd>@wvp.Html.Label(eventAreaDetailVm.EventArea.Price.ToString(), eventAreaDetailVm.EventArea.Price.ToString(), new { id = "areaPrice"}).</dd>
 
                            <dt>X:</dt>
                            <dd>@wvp.Html.Label(eventAreaDetailVm.EventArea.CoordinateX.ToString(), eventAreaDetailVm.EventArea.CoordinateX.ToString()).</dd>
                        
                            <dt>Y:</dt>
                            <dd>@wvp.Html.Label(eventAreaDetailVm.EventArea.CoordinateY.ToString(), eventAreaDetailVm.EventArea.CoordinateY.ToString()).</dd>
                        </dl>
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("event manager") || User.IsInRole("admin")))
                {
                    @wvp.Ajax.ActionLink(TicketManagementResource.SetAreasCosts, "ChangeCost", "Event", new {area = "EventManager", controller = "Event", eventAreaId = eventAreaDetailVm.EventArea.Id}, new AjaxOptions { HttpMethod = WebRequestMethods.Http.Get }, new {@class = "card-link area-cost" })
                    <div id="changeAreaCostModDialog" class="modal fade">
                        <div id="dialogContent" class="modal-dialog" role="document"></div>
                    </div>
                }
                </div>
            </div>
        </div>

        <h2>@TicketManagementResource.Seats</h2>

        <div class="row">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        @foreach (var eventSeat in eventAreaDetailVm.EventSeats)
                        {
                            
                            <td class="seat-canvas" style="background-color: @SeatColor.GetSeatColor(eventSeat.State)">
                                <p>
                                    X: @eventSeat.Number <br />
                                    Y: @eventSeat.Row <br />
                                    @eventSeat.State <br />
                                </p>
                                
                                @if(eventSeat.State == EventSeatState.Free)
                                {
                                    int eventAreaId = eventAreaDetailVm.EventArea.Id;
                                    @wvp.Ajax.ActionLink(TicketManagementResource.AddInBasket, "AddToCart", "Event", new { seatId = eventSeat.Id }, new AjaxOptions { HttpMethod = WebRequestMethods.Http.Post, OnSuccess = "loadEventAreaDetails('"+eventAreaId+"')" }, new { @class = "nav-link" })
                                }
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
            @wvp.Ajax.ActionLink(TicketManagementResource.Back, "EventDetail", "Event", new { eventId = eventAreaDetailVm.EventId }, new AjaxOptions { UpdateTargetId = "content", HttpMethod = WebRequestMethods.Http.Get }, new { @class = "nav-link" })
        </div>
    </div>

    <script type="text/javascript">
        showPopupInit('#changeAreaCostModDialog', '#dialogContent', '.area-cost');
    </script>
}
